<!DOCTYPE html>
<html>
<title>Очень небезопасное приложение</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/static/w3.css">
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Open+Sans'>
<link rel="stylesheet" href="/static/font-awesome.min.css">
<style>
html,body,h1,h2,h3,h4,h5 {font-family: "Open Sans", sans-serif}

html { 
    height:100%;
}

body {
min-height:100%;
background-image: url("/static/background.gif");
background-position: bottom 50px right 75px;
background-repeat: no-repeat;
background-size: 15%;
}

</style>
<body class="w3-white">
{% if session.username %}
  <span style="float: right; margin-top: 10px; margin-right: 10px"><a href="/login">Разлогиниться</a></span>
{% endif %}

{% include "messages.html" %}

