<div class="w3-top">
  <div class="w3-bar w3-black w3-card">
    <a href="/" class="w3-bar-item w3-button w3-padding-large">Домой</a>
    {% if g.session.username %}
    <a href="/user/change_password" class="w3-bar-item w3-button w3-padding-large">Изменить пароль</a>
    <a href="/csp/" class="w3-bar-item w3-button w3-padding-large">CSP-подарочек</a>
    <a href="/user/login" class="w3-bar-item w3-button w3-padding-large">Выйти</a>
    {% else %}
    <a href="/user/login" class="w3-bar-item w3-button w3-padding-large">Войти</a>
    {% endif %}
    </div>
  </div>

</div>
