{% include "head.html" %}
{% include "navbar.html" %}

<div class="w3-content" style="max-width:2000px;margin-top:15px">

  <div class="w3-container w3-content w3-center" style="max-width: 400px">

    <form method="POST" class="w3-padding-32">
      <div class="w3-section">
        <label><b>Новый пароль</b></label>
        <input class="w3-input w3-border w3-margin-bottom" type="password" name="password" required>
        <label><b>Повторить пароль</b></label>
        <input class="w3-input w3-border" type="password" name="password_again" required>
        <button class="w3-button w3-block w3-black w3-section w3-padding" type="submit">Меняй, железная машина!</button>
      </div>
    </form>

  </div>
</div>


